silverscript/target
silverscript/.git
kaspa-raffle-website/node_modules
kaspa-raffle-website/backend-legacy
kaspa-raffle-website/kaspa-sdk-v2.0.1/kaspa-wasm32-sdk/docs
kaspa-raffle-website/kaspa-wasm32-sdk-v2.0.1.zip
Kaspa Raffle Website/VSCodeUserSetup-x64-1.124.2.exe
VSCodeUserSetup-x64-1.124.2.exe
node-v24.16.0-x64.msi
